/* CSS styling for the title */
/* CSS styling for the main heading */
body {
  overflow: hidden;
}
h1 {
    background-image: linear-gradient(to right, #5E5AA8, #FF5F6D);
    /* Gradient background */
    -webkit-background-clip: text;
    /* Apply the background to the text */
    -webkit-text-fill-color: transparent;
    /* Make the text transparent */
    font-family: 'Helvetica Neue', sans-serif;
    /* Font family */
    font-size: 2.5em;
    /* Font size */
    text-align: center;
    /* Center align the text */
  }
  h2 {
    background-image: linear-gradient(to right,#FF5F6D, #5E5AA8);
    /* Gradient background */
    -webkit-background-clip: text;
    /* Apply the background to the text */
    -webkit-text-fill-color: transparent;
    /* Make the text transparent */
    font-family: 'Helvetica Neue', sans-serif;
    /* Font family */
    font-size: 1em;
    /* Font size */
    text-align: center;
    /* Center align the text */
    animation: animate-gradient 2s ease infinite;
  }
  @keyframes animate-gradient {
    0% {
        background-position: 0 50%;
    }
  
    50% {
        background-position: 100% 50%;
    }
  
    100% {
        background-position: 0 50%;
    }
  }
  h3 {
    background-image: linear-gradient(to right, #5E5AA8, #FF5F6D);
    /* Gradient background */
    -webkit-background-clip: text;
    /* Apply the background to the text */
    -webkit-text-fill-color: transparent;
    /* Make the text transparent */
    font-family: 'Helvetica Neue', sans-serif;
    /* Font family */
    font-size: 1em;
    /* Font size */
    text-align: center;
    /* Center align the text */
  }
  .link-container {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-left: -90px;
}



.link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 1rem;
    margin-left: 710px;

}
.legend{
  display: flex;
  flex-direction: row;
  margin-left: 400px;
}

  #chartdiv {
    width: 100%;
    height: 450px;
  }